---
import Link from '../components/Link.astro'
import { renderRichText } from '@storyblok/astro'
import { storyblokEditable } from '@storyblok/astro'
import Canonical from '../components/Canonical.astro'
import { Image } from '@astrojs/image/components'
import 'highlight.js/styles/atom-one-dark.css'

const { blok } = Astro.props

const renderedRichText = renderRichText(blok.text)

const published = new Date(blok.published)
const sep = '/'
const publishedFormatted =
  published.getMonth() +
  sep +
  published.getDay() +
  sep +
  published.getFullYear()
---

<script>
  import hljs from 'highlight.js/lib/core'
  import html from 'highlight.js/lib/languages/xml'
  import javascript from 'highlight.js/lib/languages/javascript'
  hljs.registerLanguage('html', html)
  hljs.registerLanguage('javascript', javascript)

  document.querySelectorAll('article code').forEach((el) => {
    hljs.highlightElement(el)
  })
</script>

<article
  {...storyblokEditable(blok)}
  class="page-section container max-w-prose"
>
  {
    blok.image?.filename && (
      <Image
        class="pointer-events-none mb-12 rounded-lg shadow-lg"
        alt={blok.image.alt}
        src={blok.image.filename + '/m/1000x0'}
        width="1000"
        aspectRatio={16 / 9}
      />
    )
  }
  <h1 class="text-3xl sm:text-4xl font-extrabold mb-2">
    {blok.headline}
  </h1>
  <h2 class="text-xl sm:text-2xl font-extralight mb-4">
    {blok.subheadline}
  </h2>
  <time class="block mb-4">Published on {publishedFormatted}</time>
  <section class="text-lg md:text-xl mb-4">{blok.teaser}</section>
  {
    blok.is_canonical && blok.canonical_url && (
      <Canonical url={blok.canonical_url} />
    )
  }
  <section
    set:html={renderedRichText}
    class="prose prose-stone-200 dark:prose-invert mb-12"
  >
  </section>
  <Link href="/blog">See all articles</Link>
</article>
