---
import Headline from '../components/Headline.astro'
import { renderRichText } from '@storyblok/astro'
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok, index } = Astro.props

const headlineTag = index === 0 ? 'h1' : 'h2'

const renderedRichText = renderRichText(blok.text)
---

<section
  {...storyblokEditable(blok)}
  class="page-section container grid md:grid-cols-2 gap-12"
>
  <div class="md:relative md:order-1">
    {
      blok.image?.filename && (
        <img
          class="pointer-events-none rounded-lg shadow-lg sm:max-w-sm md:sticky md:top-48 md:max-w-full"
          alt={blok.image.alt}
          src={blok.image.filename + '/m/1200x800'}
          width="1200"
          height="800"
        />
      )
    }
  </div>
  <div class="md:order-0">
    <Headline tag={headlineTag} margin="small">{blok.headline}</Headline>
    <section
      class="prose prose-stone dark:prose-invert leading-relaxed mb-8"
      set:html={renderedRichText}
    >
    </section>
    {blok.button[0] && <StoryblokComponent blok={blok.button[0]} />}
  </div>
</section>
