---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import { useStoryblokApi } from '@storyblok/astro'
import { storyblokEditable } from '@storyblok/astro'
import ArticleCard from '../components/ArticleCard.astro'
import Headline from '../components/Headline.astro'

const { blok, index } = Astro.props

const headlineTag = index === 0 ? 'h1' : 'h2'

const cardHeadlineTag = index === 0 ? 'h2' : 'h3'

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get('cdn/stories/', {
  version: 'published',
  starts_with: 'blog',
  per_page: '6',
})

const articles = data.stories.filter((story) => story.is_startpage !== true)
---

<section {...storyblokEditable(blok)} class="page-section text-center">
  <Headline tag={headlineTag}>Latest Articles</Headline>
  {
    articles && (
      <div class="container grid place-items-center gap-8 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
        {articles?.map((article) => {
          return (
            <ArticleCard
              article={article.content}
              slug={article.full_slug}
              cardHeadlineTag={cardHeadlineTag}
            />
          )
        })}
      </div>
    )
  }
  {
    !!articles && (
      <div class="container">Unfortunately, no articles could be found.</div>
    )
  }
  {
    blok.button[0] && (
      <div class="mt-8">
        <StoryblokComponent blok={blok.button[0]} />
      </div>
    )
  }
</section>
